html, body {
    width: 100%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    scrollbar-color: var(--color-primary-2);
    scrollbar-width: 8px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.width-ctrl {
    width: 1500px;
}

@media screen and (max-width: 1500px) {
    .width-ctrl {
        width: calc(100% - 8px);
        margin-left: 4px;
    }
}



h1 {
    font-size: 48px;
    max-width: 1000px;
}

h3 {
    font-size: 28px;
    max-width: 1000px; 
    width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }


  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  

  ::-webkit-scrollbar-thumb {
    background: var(--color-primary-2);
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary-1-4);
  } 
