<template>
  <div class="cast-card">
    <button
        @click="playSound()"
        class="icon-button-primary-32 playsound-btn-fore">
      <img src="../../public/icons/Artboard 2 copy 21.svg" class="icon-24"/>
    </button>
    <span class="date">{{ date }}</span>
    <span class="time">{{ day }}</span>
    <div v-if="categorieTemperature=== 1">
      <img class="icon-forecast-card" src="../../public/icons/Artboard 2 copy 16.svg"/>

    </div>
    <div v-if="categorieTemperature=== 2">
      <img class="icon-forecast-card" src="../../public/icons/Artboard 2 copy 15.svg"/>

    </div>
    <div v-if="categorieTemperature=== 3">
      <img class="icon-forecast-card" src="../../public/icons/Artboard 2 copy 14.svg"/>

    </div>
    <div v-if="categorieTemperature=== 4">
      <img class="icon-forecast-card" src="../../public/icons/Artboard 2 copy 13.svg"/>
    </div>
    <p>{{ temperature }}°C</p>

    <div class="cast-stats">
      <div>
        <div v-if="weather=== 1">
          <img class="icon-64" src="../../public/icons/Artboard 2 copy 1.svg"/>

        </div>
        <div v-if="weather=== 2">
          <img class="icon-64" src="../../public/icons/Artboard 2 copy 2.svg"/>

        </div>
        <div v-if="weather=== 3">
          <img class="icon-64" src="../../public/icons/Artboard 2 copy 3.svg"/>

        </div>
        <div v-if="weather=== 4">
          <img class="icon-64" src="../../public/icons/Artboard 2 copy 4.svg"/>

        </div>
        <br/>
        Pluie : {{ rain }}<br/>
        Nuage : {{ cloud }}<br/>
      </div>
      <div >
        <div v-if="categorieVent=== 1">
          <img class="icon-64" src="../../public/icons/Artboard 2 copy 20.svg"/>

        </div>
        <div v-if="categorieVent=== 2">
          <img class="icon-64" src="../../public/icons/Artboard 2 copy 19.svg"/>

        </div>
        <div v-if="categorieVent=== 3">
          <img class="icon-64" src="../../public/icons/Artboard 2 copy 18.svg"/>

        </div>
        <div v-if="categorieVent=== 4">
          <img class="icon-64" src="../../public/icons/Artboard 2 copy 17.svg"/>

        </div>
        <br/>
        {{ windSpeed }} <br/>km/h
      </div>

    </div>

  </div>
</template>

<script>
export default {
  name: 'ForecastCard',
  props: {
    temperature: Number,
    windSpeed: Number,
    date: String,
    day: String,
    rain: Number,
    cloud: Number
  },
  data() {
    return {
      categorieTemperature: null,
      categorieVent: null,
      periodeJour: null,
      weather: null,
    };
  },
  methods: {
    playSound() {
      const periode = new Audio(`sounds/Periode_3.mp3`);
      const temperature = new Audio(`sounds/Temp_${this.categorieTemperature}.mp3`);
      const temps = new Audio(`sounds/Temps_${this.weather}.mp3`);
      const vent = new Audio(`sounds/Vent_${this.categorieVent}.mp3`);
      periode.play()
      temperature.play()
      temps.play()
      vent.play()
    },
    getWeatherCategory() {
      if (this.rain < 10 && this.cloud < 20) {
        this.weather = 1;
      } else if (this.rain < 10 && this.cloud > 20) {
        this.weather = 2;
      } else if (this.rain > 10 && this.rain < 20) {
        this.weather = 3;
      } else {
        this.weather = 4;
      }
    },
    getTemperature() {
      if (this.temperature > 20) {
        this.categorieTemperature = 1;
      } else if (this.temperature > 10 && this.temperature < 20) {
        this.categorieTemperature = 2;
      } else if (this.temperature > 0 && this.temperature < 10) {
        this.categorieTemperature = 3;
      } else if (this.temperature < 0) {
        this.categorieTemperature = 4;
      }
    },
    getVent() {
      if (this.windSpeed > 50) {
        this.categorieVent = 1;
      } else if (this.windSpeed > 10 && this.windSpeed < 50) {
        this.categorieVent = 2;
      } else if (this.windSpeed > 1 && this.windSpeed < 10) {
        this.categorieVent = 3;
      } else if (this.windSpeed > 1) {
        this.categorieVent = 4;
      }
    },
  },
  mounted() {
    this.getWeatherCategory();
    this.getTemperature();
    this.getVent();
  }
}
</script>
<style>
.icon-forecast-card {
  width: 85px;
  height: 85px;
}


.playsound-btn-fore {
  background-color: var(--color-primary-3);
  box-shadow: 1px 2px 24px -12px black;
  margin-left: calc(50% - 16px);
  margin-bottom: 8px;
}

.playsound-btn-fore:hover {
  background-color: var(--color-primary-0);

}


</style>
