<template>
  <ul class="suggested-cities">
    <li v-for="filteredVille in filteredVilles" v-bind:key='filteredVille[0]' @click="setVille(filteredVille)" >{{filteredVille[0]}} , {{filteredVille[1]}}</li>
  </ul>
</template>

<script>
export default {
  name: "SuggestedCities",
  props: {
    filteredVilles:Array,
    setVille: {type: Function},
  }
}
</script>

<style scoped>
  .suggested-cities {
    position: absolute;
    overflow-y: auto;
    width: calc(100% - 8px);
    max-height: 150px;
    background-color: white;
    color: var(--color-primary-3);
    margin-top: 4px;
    margin-bottom: 4px;
    list-style-type: none;
    padding-left: 0;
    top: 88px;
    border-radius: 8px;
    margin-left: 4px;
    box-shadow: 1px 2px 24px -12px black;
    z-index: 100;
  }
  .suggested-cities li {
    padding: 16px 24px;
    margin-left: 0;
    list-style-position:inside;
  }
  .suggested-cities li:nth-child(odd){
    background-color: rgba(240,240,240,.5);
  }
  .suggested-cities li:first-child {
    border-radius: 8px 8px 0 0;
  }

  .suggested-cities li:last-child {
    border-radius: 0 0 8px 8px;
  }
  .suggested-cities li:hover {
    background-color: var(--color-primary-1);
  }


</style>
